@import "../../index.scss";

.toolbar {
    color: $dark;
    grid-column: 1 / -1;
    padding: 1em;
    background: linear-gradient(to right, darken($champagne, 10%), $champagne);
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    z-index: 9;
}
