@import "../../index.scss";

body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

.grid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: auto 1fr;
}

.app__custom-node {
    border-radius: 1em;
    padding: 1em;
    background: linear-gradient(to right, $ming, $dark-cyan);
    color: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.4);
}
