@import "../../index.scss";

.navigation {
    background: linear-gradient(to right, $ming, $dark-cyan);
    color: $light;
    grid-column: 1 / -1;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    align-items: center;
}

.navigation__header {
    margin: 0;
    font-weight: bold;
    padding: 0.5em;
    font-size: 2em;
}

.navigation__input-group {
    padding: 1em;
}

.navigation__input {
    font-size: 1em;
    margin: 0;
    outline: none;
}
