@use "sass:color";
@import "../../index.scss";

.information-panel {
    padding: 1em;

    &__warning {
        background-color: color.adjust(#ffcc00, $alpha: 0.5, $lightness: 20%);
    }

    &__modifier {
        background-color: $dark-cyan;
        padding: 0.25em 1em;
        border-radius: 1em;
        margin-right: 0.5em;
        color: white;
    }

    &__container {
        color: $dark;
        margin-bottom: 1em;
        padding: 1em;
        border-radius: 1em;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        & > table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            word-wrap: break-word;

            tr {
                td {
                    padding: 0.5em;
                    &:first-child {
                        width: 20%;
                        border-right: 1px solid black;
                        font-weight: 700;
                    }
                }

                border-bottom: 1px solid black;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }

    &__container-section {
        margin-top: 1em;
        padding: 1em;
        box-sizing: border-box;

        & > table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            word-wrap: break-word;

            tr {
                td,
                th {
                    padding: 0.5em;
                    border-right: 1px solid black;

                    &:last-child {
                        border-right: 0;
                    }
                }

                th {
                    border-bottom: 1px solid black;
                }

                border-bottom: 1px solid black;

                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}
